﻿@model JB2.BOM.TokenModel
@{
    ViewBag.Title = Resources.Global.ce_header_trip_history;
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="card-header header">
    <form id="inputForm" name="inputForm" method="get" action="/trip-report">
        <input type="hidden" id="sessionAADToken" value=@Session["authenToken"] />
        <div class="bom-row">
            <div class="bom-col-first">
                <label for="deviceId" class="bom-label">@Resources.Global.th_label_device_id</label>
            </div>
            <div class="bom-col">
                <input type="text" id="deviceId" value="@ViewBag.deviceId" name="deviceId" class="form-control bom-control" />
            </div>
            <div class="bom-col">
                <label for="date" class="bom-label">@Resources.Global.th_label_search_date</label>
            </div>
            <div class="bom-col">
                <div class="input-group date" id="date" data-target-input="nearest">
                    <input type="text" placeholder="YYYY-MM-DD" value="@ViewBag.date" name="date" class="form-control datetimepicker-input bom-control" data-target="#date" />
                    <div class="input-group-append" data-target="#date" data-toggle="datetimepicker">
                        <div class="btn btn-outline-secondary" style="padding: 0 6px">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bom-col">
                <button type="submit" id="btnSubmit" class="btn btn-primary h-30 bom-control">
                    <i id="spinIcon"></i> @Resources.Global.th_button_submit
                </button>
            </div>
            <div class="bom-col">
                <label id="errorMessage" class="errorMessage bom-label">@Model.ErrorMessage</label>
            </div>
        </div>
    </form>
</div>
<div class="card-body" id="reportContainer"></div>

<script>
    var accessToken = "@Model.EmbedToken";
    var embedUrl = "@Html.Raw(Model.EmbedUrl)";
    var reportId = "@Model.ReportId";
    var filterDeviceId = "@ViewBag.deviceId";
    var filterDate = "@ViewBag.date";

    var msgInvalidInput = "@Resources.Global.th_notification_invalid_input";
</script>
@Scripts.Render("~/bundles/Pages")
