﻿.no-padding {
    padding: 0;
}

.navbar {
    background-color: #F5F5DC; /*beige*/
    /*padding: 0 1rem 0 1rem;*/
    padding-top: 0;
    padding-right: 1rem;
    padding-bottom: 0;
    padding-left: 1rem;
}

.navbar-app-name {
    font-size: x-large;
    margin-left: 0;
    margin-right: 40px;
}

.nav-link {
    color: #000000;/*black*/
    font-family: sans-serif;
    font-size: 11pt;
    opacity: .5;
    padding-bottom: 1px;
}

.nav-link.active {
    font-weight: 600;
    opacity: 1;
}

.nav-link:hover {
    border-bottom:solid 1px #ff0000;/*red*/
    color: #000000;/*black*/
    padding-bottom: 0;
}

.bom-row {
    display: -webkit-box;
    display: -ms-inline-flexbox; /*supporting IE11*/
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.bom-col {
    margin-left: 20px;
}

.bom-col-first {
    margin-left: 14px;
}


.bom-label {
    /*margin: 4px 0;*/
    margin-top: 4px;
    margin-right: 0;
    margin-bottom: 4px;
    margin-left: 0;

    padding-left: 0;
    padding-right: 0;
}
.bom-control {
    /*padding: 1px 6px;*/
    padding-top: 1px;
    padding-right: 6px;
    padding-bottom: 1px;
    padding-left: 6px;
}

.header {
    height: 36px;
    /*padding: 4px 20px;*/
    padding-top: 4px;
    padding-right: 20px;
    padding-bottom: 4px;
    padding-left: 20px;
}

.refresh-icon {
    color: #87CEEB;/*skyblue*/
    font-size: 18pt;
    line-height: 27px;
}

.fa-calendar {
    font-size: 11px;
}

.fa-refresh:hover {
    color: #007bff ;
}

.error-message {
    color: #ff0000; /*red*/
}

#report-container {
    height: 550px;
    width: 1270px;
    padding: 0;
    margin: 0 auto;
}
