﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Style/css")
    @Scripts.Render("~/bundles/Libs")
    @{ var version = BomEnvironment.VersionPage; }
</head>
<body>
    <nav class="navbar navbar-expand">        
        <div class="navbar-app-name">@Resources.Global.ce_header_app_name</div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="@(ViewContext.RouteData.Values["Controller"].ToString() == "DeviceReport" ? "nav-link active" : "nav-link")" style="display:block;" href="@Url.Action("Index","DeviceReport")">@Resources.Global.ce_header_device_management</a><span class="sr-only">(current)</span>
                </li>
                <li class="nav-item">
                    <a class="@(ViewContext.RouteData.Values["Controller"].ToString() == "TelemetryReport" ? "nav-link active" : "nav-link")" style="display:block;" href="@Url.Action("Index","TelemetryReport")">@Resources.Global.ce_header_telemetry_history</a><span class="sr-only">(current)</span>
                </li>
                <li class="nav-item">
                    <a class="@(ViewContext.RouteData.Values["Controller"].ToString() == "TripReport" ? "nav-link active" : "nav-link")" style="display:block;" href="@Url.Action("Index","TripReport")">@Resources.Global.ce_header_trip_history</a><span class="sr-only">(current)</span>
                </li>
            </ul>
        </div>
        <div>
            @Html.Partial("_Login")
        </div>
    </nav>
    <div class="card-body no-padding">
        @RenderBody()
    </div>
    <div class="card-footer text-center">
        Version @version
    </div>
    <script>ES6Promise.polyfill();</script>
</body>
</html>
